<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>This home page</h1>
    <h3><%= 1 + 2  %></h3>
    <h3><%= "apnacollege".toUpperCase() %></h3>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, fuga dolores! Alias quos fugit, dolorum neque exercitationem asperiores odit laboriosam libero voluptates vitae aspernatur nesciunt vero enim ea in quasi ducimus ex earum similique nulla laudantium obcaecati. Officia rem neque aliquid, quos quae commodi quo. Deleniti dolorem numquam dolores quaerat, saepe cumque rem at quae autem aliquid ea consectetur quod incidunt a! Velit itaque aperiam incidunt.
    </p>
</body>
</html>